## COVID Drivers: Describe Data

### Table of Contents
* [Read the Data](#read)</BR>
* [Create Table of Columns and Data Types](#dtypes)</BR>
* [Select CRASH Columns to Use](#select-crash)</BR>
* [Select FLAGS Columns to Use](#select-flags)</BR>
* [Display Decoding Dictionary](#enum-df)</BR>
* [Create Data Dictionary](#data-dict)</BR>
* [Merge CRASH and FLAGS](#merge)</BR>
* [Evaluate Related Flags and Enumerated Fields](#eval)</BR>
* [Write Final Compiled Dataset to File](#write)

Import packages

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import os
import ruptures as rpt
import altair as alt

import statsmodels.api as sm

In [2]:
# Import project specific utilities
from utils.functions import *

### <a id='read'>Read the data</a>

In [3]:
comm = pd.DataFrame()
crash = pd.DataFrame()
cycle = pd.DataFrame()
flags = pd.DataFrame()
person = pd.DataFrame()
road = pd.DataFrame()
trail = pd.DataFrame()
veh = pd.DataFrame()

for folder in os.listdir(path_raw):
    #print(folder)
    year = folder[-4:]
    #print(year)
    if 'statewide' in folder.lower():
    #if year != '2020' and 'statewide' in folder.lower():
        tmp = read_data(folder, year, 'COMMVEH')
        comm = (tmp.copy() if comm.empty else comm.copy() if tmp.empty
            else pd.concat([comm, tmp]) # if both DataFrames non empty
        )

        tmp = read_data(folder, year, 'CRASH')
        crash = (tmp.copy() if crash.empty else crash.copy() if tmp.empty
            else pd.concat([crash, tmp]) # if both DataFrames non empty
        )

        tmp = read_data(folder, year, 'CYCLE')
        cycle = (tmp.copy() if cycle.empty else cycle.copy() if tmp.empty
            else pd.concat([cycle, tmp]) # if both DataFrames non empty
        )

        tmp = read_data(folder, year, 'FLAGS')
        flags = (tmp.copy() if flags.empty else flags.copy() if tmp.empty
            else pd.concat([flags, tmp]) # if both DataFrames non empty
        )

        tmp = read_data(folder, year, 'PERSON')
        person = (tmp.copy() if person.empty else person.copy() if tmp.empty
            else pd.concat([person, tmp]) # if both DataFrames non empty
        )

        tmp = read_data(folder, year, 'ROADWAY')
        road = (tmp.copy() if road.empty else road.copy() if tmp.empty
            else pd.concat([road, tmp]) # if both DataFrames non empty
        )

        tmp = read_data(folder, year, 'TRAILVEH')
        trail = (tmp.copy() if trail.empty else trail.copy() if tmp.empty
            else pd.concat([trail, tmp]) # if both DataFrames non empty
        )

        tmp = read_data(folder, year, 'VEHICLE')
        veh = (tmp.copy() if veh.empty else veh.copy() if tmp.empty
            else pd.concat([veh, tmp]) # if both DataFrames non empty
        )

In [4]:
crash.shape[0]

2461193

In [5]:
crash['ARRIVAL_TM'].isna().sum()/crash.shape[0]

np.float64(0.6959482657394198)

In [6]:
crash['LATITUDE'].isna().sum()/crash.shape[0]

np.float64(0.024513721597615466)

In [7]:
crash['LONGITUDE'].isna().sum()/crash.shape[0]

np.float64(0.024514534211660766)

In [8]:
crash['DISTRICT'].isna().sum()/crash.shape[0]

np.float64(0.0)

In [9]:
crash['MUNICIPALITY'].isna().sum()/crash.shape[0]

np.float64(0.0)

In [10]:
len(crash['CRN'].tolist()) == len(crash['CRN'].unique().tolist())

True

In [11]:
crash_crn = crash['CRN'].tolist()

In [12]:
comm.loc[~comm['CRN'].isin(crash_crn)].shape[0]

0

In [13]:
cycle.loc[~cycle['CRN'].isin(crash_crn)].shape[0]

0

In [14]:
flags.loc[~flags['CRN'].isin(crash_crn)].shape[0]

0

In [15]:
person.loc[~person['CRN'].isin(crash_crn)].shape[0]

0

In [16]:
person.loc[:,['CRN','UNIT_NUM']].drop_duplicates()

               CRN  UNIT_NUM
0       2005066315         1
1       2005109861         1
2       2005185756         1
3       2005185756         2
4       2005015297         1
...            ...       ...
244168  2024115154         1
244169  2024090876         1
244170  2024090876         2
244171  2024090876         3
244172  2024090876         4

[4133282 rows x 2 columns]

In [17]:
person.columns.tolist()

['CRN',
 'AGE',
 'AIRBAG1',
 'AIRBAG2',
 'AIRBAG3',
 'AIRBAG4',
 'AIRBAG_PADS',
 'DVR_LIC_STATE',
 'DVR_PED_CONDITION',
 'EJECTION_IND',
 'EJECT_PATH_CD',
 'EXTRIC_IND',
 'INJ_SEVERITY',
 'NON_MOTORIST',
 'PERSON_NUM',
 'PERSON_TYPE',
 'RESTRAINT_HELMET',
 'SEAT_POSITION',
 'SEX',
 'TRANSPORTED',
 'TRANSPORTED_BY',
 'UNIT_NUM',
 'VULNERABLE_ROAD_USER']

In [18]:
road.loc[~road['CRN'].isin(crash_crn)].shape[0]

0

In [19]:
trail.loc[~trail['CRN'].isin(crash_crn)].shape[0]

0

In [20]:
veh.loc[~veh['CRN'].isin(crash_crn)].shape[0]

0

In [21]:
flags_crn = flags['CRN'].unique().tolist()
per_crn = person['CRN'].unique().tolist()
road_crn = road['CRN'].unique().tolist()
veh_crn = veh['CRN'].unique().tolist()

In [22]:
crash.loc[~crash['CRN'].isin(road_crn)].shape[0]

22

In [23]:
crash.loc[~crash['CRN'].isin(veh_crn)].shape[0]

1

In [24]:
crash.loc[~crash['CRN'].isin(flags_crn)].shape[0]

0

In [25]:
crash.loc[~crash['CRN'].isin(per_crn)].shape[0]

2378

In [26]:
road.columns.tolist()

['CRN',
 'ACCESS_CTRL',
 'COUNTY',
 'LANE_COUNT',
 'OFFSET',
 'RAMP',
 'RDWY_ORIENT',
 'RDWY_SEQ_NUM',
 'ROAD_OWNER',
 'ROUTE',
 'SEGMENT',
 'SPEED_LIMIT',
 'STREET_NAME']

In [27]:
road['rank'] = road.groupby(['CRN']).cumcount() + 1

In [28]:
road['rank'].value_counts()

rank
1     2461171
2      937326
3      299959
4       91204
5       22308
6        7145
7        1901
8         614
9         152
10         45
Name: count, dtype: int64

### <a id='dtypes'>Create Table of Columns and Data Types</a>

In [29]:
comm_cols = comm.columns.tolist()
crash_cols = crash.columns.tolist()
cycle_cols = cycle.columns.tolist()
flags_cols = flags.columns.tolist()
person_cols = person.columns.tolist()
road_cols = road.columns.tolist()
trail_cols = trail.columns.tolist()
veh_cols = veh.columns.tolist()

In [30]:
datasets = [comm, crash, cycle, flags, person, road, trail, veh]
dsnames = ['COMMVEH', 'CRASH', 'CYCLE', 'FLAGS', 'PERSON', 'ROADWAY', 'TRAILVEH', 'VEHICLE']

In [31]:
cols = []
dtypes = []
dsnamesx = []
chk = {}

for i in range(0, len(datasets)):
    ds_cols = datasets[i].columns.tolist()
    print(dsnames[i])
    print(ds_cols)
    print()
    dsnamesx.extend([dsnames[i]] * len(ds_cols))
    cols.extend(ds_cols)
    for c in ds_cols:
        dtypes.append(datasets[i][c].dtype.name)
        if datasets[i][c].dtype.name == 'object':
            chk[c] = dsnames[i]

COMMVEH
['CRN', 'AXLE_CNT', 'CARGO_BD_TYPE', 'CARRIER_ADDR_1', 'CARRIER_ADDR_2', 'CARRIER_ADDR_CITY', 'CARRIER_ADDR_STATE', 'CARRIER_ADDR_ZIP', 'CARRIER_NM', 'CARRIER_TEL', 'GVWR', 'HAZMAT_CD1', 'HAZMAT_CD2', 'HAZMAT_CD3', 'HAZMAT_CD4', 'HAZMAT_IND', 'HAZMAT_REL_IND1', 'HAZMAT_REL_IND2', 'HAZMAT_REL_IND3', 'HAZMAT_REL_IND4', 'ICC_NUM', 'OSIZE_LOAD_IND', 'PERMITTED', 'PUC_NUM', 'SPECIAL_SIZING1', 'SPECIAL_SIZING2', 'SPECIAL_SIZING3', 'SPECIAL_SIZING4', 'TYPE_OF_CARRIER', 'UNIT_NUM', 'USDOT_NUM', 'VEH_CONFIG_CD']

CRASH
['CRN', 'ARRIVAL_TM', 'AUTOMOBILE_COUNT', 'BELTED_DEATH_COUNT', 'BELTED_SUSP_SERIOUS_INJ_COUNT', 'BICYCLE_COUNT', 'BICYCLE_DEATH_COUNT', 'BICYCLE_SUSP_SERIOUS_INJ_COUNT', 'BUS_COUNT', 'CHLDPAS_DEATH_COUNT', 'CHLDPAS_SUSP_SERIOUS_INJ_COUNT', 'COLLISION_TYPE', 'COMM_VEH_COUNT', 'CONS_ZONE_SPD_LIM', 'COUNTY', 'CRASH_MONTH', 'CRASH_YEAR', 'DAY_OF_WEEK', 'DEC_LATITUDE', 'DEC_LONGITUDE', 'DISPATCH_TM', 'DISTRICT', 'DRIVER_COUNT_16YR', 'DRIVER_COUNT_17YR', 'DRIVER_COUNT_18YR', 'DRIVER_COUNT_19YR', 'DRIVER_COUNT_20YR', 'DRIVER_COUNT_50_64YR', 'DRIVER_COUNT_65_74YR', 'DRIVER_COUNT_75PLUS', 'EST_HRS_CLOSED', 'FATAL_COUNT', 'HEAVY_TRUCK_COUNT', 'HORSE_BUGGY_COUNT', 'HOUR_OF_DAY', 'ILLUMINATION', 'INJURY_COUNT', 'INTERSECTION_RELATED', 'INTERSECT_TYPE', 'LANE_CLOSED', 'LATITUDE', 'LN_CLOSE_DIR', 'LOCATION_TYPE', 'LONGITUDE', 'MAX_SEVERITY_LEVEL', 'MCYCLE_DEATH_COUNT', 'MCYCLE_SUSP_SERIOUS_INJ_COUNT', 'MOTORCYCLE_COUNT', 'MUNICIPALITY', 'NONMOTR_COUNT', 'NONMOTR_DEATH_COUNT', 'NONMOTR_SUSP_SERIOUS_INJ_COUNT', 'NTFY_HIWY_MAINT', 'PED_COUNT', 'PED_DEATH_COUNT', 'PED_SUSP_SERIOUS_INJ_COUNT', 'PERSON_COUNT', 'POLICE_AGCY', 'POSSIBLE_INJ_COUNT', 'RDWY_SURF_TYPE_CD', 'RELATION_TO_ROAD', 'ROADWAY_CLEARED', 'ROAD_CONDITION', 'SCH_BUS_IND', 'SCH_ZONE_IND', 'SECONDARY_CRASH', 'SMALL_TRUCK_COUNT', 'SPEC_JURIS_CD', 'SUSP_MINOR_INJ_COUNT', 'SUSP_SERIOUS_INJ_COUNT', 'SUV_COUNT', 'TCD_FUNC_CD', 'TCD_TYPE', 'TFC_DETOUR_IND', 'TIME_OF_DAY', 'TOTAL_UNITS', 'TOT_INJ_COUNT', 'UNBELTED_OCC_COUNT', 'UNB_DEATH_COUNT', 'UNB_SUSP_SERIOUS_INJ_COUNT', 'UNK_INJ_DEG_COUNT', 'UNK_INJ_PER_COUNT', 'URBAN_RURAL', 'VAN_COUNT', 'VEHICLE_COUNT', 'WEATHER1', 'WEATHER2', 'WORKERS_PRES', 'WORK_ZONE_IND', 'WORK_ZONE_LOC', 'WORK_ZONE_TYPE', 'WZ_CLOSE_DETOUR', 'WZ_FLAGGER', 'WZ_LAW_OFFCR_IND', 'WZ_LN_CLOSURE', 'WZ_MOVING', 'WZ_OTHER', 'WZ_SHLDER_MDN', 'WZ_WORKERS_INJ_KILLED']

CYCLE
['CRN', 'MC_BAG_IND', 'MC_DVR_BOOTS_IND', 'MC_DVR_EDC_IND', 'MC_DVR_EYEPRT_IND', 'MC_DVR_HLMTDOT_IND', 'MC_DVR_HLMTON_IND', 'MC_DVR_HLMT_TYPE', 'MC_DVR_LNGPNTS_IND', 'MC_DVR_LNGSLV_IND', 'MC_ENGINE_SIZE', 'MC_PASSNGR_IND', 'MC_PAS_BOOTS_IND', 'MC_PAS_EYEPRT_IND', 'MC_PAS_HLMTDOT_IND', 'MC_PAS_HLMTON_IND', 'MC_PAS_HLMT_TYPE', 'MC_PAS_LNGPNTS_IND', 'MC_PAS_LNGSLV_IND', 'MC_TRAIL_IND', 'UNIT_NUM']

FLAGS
['CRN', 'AGGRESSIVE_DRIVING', 'ALCOHOL_RELATED', 'ANGLE_CRASH', 'ATV', 'ATV_ROUTE', 'BACKUP_CONGESTION', 'BACKUP_NONRECURRING', 'BACKUP_PRIOR', 'BICYCLE', 'CELL_PHONE', 'CHILD_PASSENGER', 'COMM_VEHICLE', 'CORE_NETWORK', 'CROSS_MEDIAN', 'CURVED_ROAD', 'CURVE_DVR_ERROR', 'DEER_RELATED', 'DISTRACTED', 'DRINKING_DRIVER', 'DRIVER_16YR', 'DRIVER_17YR', 'DRIVER_18YR', 'DRIVER_19YR', 'DRIVER_20YR', 'DRIVER_50_64YR', 'DRIVER_65_74YR', 'DRIVER_75PLUS', 'DRUGGED_DRIVER', 'DRUG_RELATED', 'FATAL', 'FATAL_OR_SUSP_SERIOUS_INJ', 'FATIGUE_ASLEEP', 'FEDERAL_AID_ROUTE', 'FIRE_IN_VEHICLE', 'HAZARDOUS_TRUCK', 'HIT_BARRIER', 'HIT_BRIDGE', 'HIT_DEER', 'HIT_EMBANKMENT', 'HIT_FIXED_OBJECT', 'HIT_GDRAIL', 'HIT_GDRAIL_END', 'HIT_PARKED_VEHICLE', 'HIT_POLE', 'HIT_ROADWAY_EQUIPMENT', 'HIT_RUN', 'HIT_TEMP_CONSTRUCTION_BARRIER', 'HIT_TRAFFIC_ISLAND', 'HIT_TREE_SHRUB', 'HIT_UTILITY_POLE', 'HORSE_BUGGY', 'HO_OPPDIR_SDSWP', 'HVY_TRUCK_RELATED', 'ICY_ROAD', 'ILLEGAL_DRUG_RELATED', 'ILLUMINATION_DARK', 'IMPAIRED_DRIVER', 'IMPAIRED_NONMOTORIST', 'INJURY', 'INJURY_OR_FATAL', 'INTERSECTION', 'INTERSECTION_RELATED', 'INTERSTATE', 'LANE_DEPARTURE', 'LEFT_TURN', 'LIMIT_65MPH', 'LIMIT_70MPH', 'LOCAL_ROAD', 'LOCAL_ROAD_ONLY', 'MARIJUANA_DRUGGED_DRIVER', 'MARIJUANA_RELATED', 'MATURE_DRIVER', 'MC_DRINKING_DRIVER', 'MOTORCYCLE', 'MULTIPLE_VEHICLE', 'NHTSA_AGG_DRIVING', 'NON_INTERSECTION', 'NO_CLEARANCE', 'OPIOID_RELATED', 'OTHER_FREEWAY_EXPRESSWAY', 'OVERTURNED', 'PEDESTRIAN', 'PHANTOM_VEHICLE', 'POSSIBLE_INJURY', 'PROPERTY_DAMAGE_ONLY', 'PSP_REPORTED', 'RAMP', 'RAMP_SEGMENT', 'RAMP_TERMINAL', 'REAR_END', 'ROUNDABOUT', 'RUNNING_RED_LT', 'RUNNING_STOP_SIGN', 'RURAL', 'SCHOOL_BUS', 'SCHOOL_BUS_RELATED', 'SCHOOL_BUS_UNIT', 'SCHOOL_ZONE', 'SHLDR_RELATED', 'SIGNALIZED_INT', 'SINGLE_VEHICLE', 'SNOWMOBILE', 'SNOW_SLUSH_ROAD', 'SPEEDING', 'SPEEDING_RELATED', 'SPEED_CHANGE_LANE', 'STATE_ROAD', 'STOP_CONTROLLED_INT', 'SUDDEN_DEER', 'SUSPECTED_MINOR_INJURY', 'SUSPECTED_SERIOUS_INJURY', 'SV_RUN_OFF_RD', 'TAILGATING', 'TRAIN', 'TRAIN_TROLLEY', 'TROLLEY', 'TURNPIKE', 'UNBELTED', 'UNDERAGE_DRNK_DRV', 'UNLICENSED', 'UNSIGNALIZED_INT', 'URBAN', 'VEHICLE_FAILURE', 'VEHICLE_TOWED', 'VULNERABLE_ROAD_USER', 'VULNERABLE_ROAD_USER_FATAL', 'WET_ROAD', 'WORK_ZONE', 'YOUNG_DRIVER']

PERSON
['CRN', 'AGE', 'AIRBAG1', 'AIRBAG2', 'AIRBAG3', 'AIRBAG4', 'AIRBAG_PADS', 'DVR_LIC_STATE', 'DVR_PED_CONDITION', 'EJECTION_IND', 'EJECT_PATH_CD', 'EXTRIC_IND', 'INJ_SEVERITY', 'NON_MOTORIST', 'PERSON_NUM', 'PERSON_TYPE', 'RESTRAINT_HELMET', 'SEAT_POSITION', 'SEX', 'TRANSPORTED', 'TRANSPORTED_BY', 'UNIT_NUM', 'VULNERABLE_ROAD_USER']

ROADWAY
['CRN', 'ACCESS_CTRL', 'COUNTY', 'LANE_COUNT', 'OFFSET', 'RAMP', 'RDWY_ORIENT', 'RDWY_SEQ_NUM', 'ROAD_OWNER', 'ROUTE', 'SEGMENT', 'SPEED_LIMIT', 'STREET_NAME', 'rank']

TRAILVEH
['CRN', 'TRAILER_PARTIAL_VIN', 'TRL_SEQ_NUM', 'TRL_VEH_REG_STATE', 'TRL_VEH_TAG_NUM', 'TRL_VEH_TAG_YR', 'TRL_VEH_TYPE_CD', 'UNIT_NUM']

VEHICLE
['CRN', 'AVOID_MAN_CD', 'BODY_TYPE', 'COMM_VEH_IND', 'DAMAGE_IND', 'DVR_PRES_IND', 'EMERG_VEH_USE_CD', 'GRADE', 'HAZMAT_IND', 'IMPACT_POINT', 'INS_IND', 'MAKE_CD', 'MODEL_YR', 'NM_AT_INTERSECTION', 'NM_CROSSING_TCD', 'NM_DISTRACTION', 'NM_IN_CROSSWALK', 'NM_LIGHTING', 'NM_POWERED', 'NM_REFLECT', 'NON_MOTORIST', 'OWNER_DRIVER', 'PARTIAL_VIN', 'PEOPLE_IN_UNIT', 'PRIN_IMP_PT', 'RDWY_ALIGNMENT', 'SPECIAL_USAGE', 'TOW_IND', 'TRAVEL_DIRECTION', 'TRAVEL_SPD', 'TRL_VEH_CNT', 'UNDER_RIDE_IND', 'UNIT_NUM', 'UNIT_TYPE', 'VEH_COLOR_CD', 'VEH_MOVEMENT', 'VEH_POSITION', 'VEH_REG_STATE', 'VEH_ROLE_CD', 'VEH_TYPE', 'VINA_BODY_TYPE_CD']

In [32]:
len(dsnamesx)

368

In [33]:
len(cols)

368

In [34]:
len(dtypes)

368

In [35]:
chk

{'CARRIER_TEL': 'COMMVEH',
 'GVWR': 'COMMVEH',
 'ICC_NUM': 'COMMVEH',
 'INTERSECTION_RELATED': 'CRASH',
 'SECONDARY_CRASH': 'CRASH',
 'WZ_WORKERS_INJ_KILLED': 'CRASH',
 'MC_ENGINE_SIZE': 'CYCLE',
 'AIRBAG1': 'PERSON',
 'TRAILER_PARTIAL_VIN': 'TRAILVEH',
 'TRL_VEH_TAG_YR': 'TRAILVEH',
 'BODY_TYPE': 'VEHICLE',
 'TRAVEL_SPD': 'VEHICLE'}

In [36]:
for k, v in chk.items():
    print(v)
    print(k)
    if v=='COMMVEH':
        print(comm[k].unique())
    if v=='CRASH':
        print(crash[k].unique())
    if v=='CYCLE':
        print(cycle[k].unique())
    if v=='PERSON':
        print(person[k].unique())
    if v=='TRAILVEH':
        print(trail[k].unique())
    if v=='VEHICLE':
        print(veh[k].unique())
    print()

COMMVEH
CARRIER_TEL
[8003349608.0 9999999999.0 8008762016.0 ... 7247835035.0 4124252682.0
 9733441010.0]

COMMVEH
GVWR
[80000.0 999999.0 73280.0 ... '009715' '016120' '056001']

COMMVEH
ICC_NUM
[nan '000173354' '999999999' ... '000866225' '000035236' '000264237']

CRASH
INTERSECTION_RELATED
[nan 'N' 'Y']

CRASH
SECONDARY_CRASH
[nan 'N' 'Y']

CRASH
WZ_WORKERS_INJ_KILLED
[nan 'N' 'Y']

CYCLE
MC_ENGINE_SIZE
[nan '99999' '01000' ... 48500.0 116.0 11400.0]

PERSON
AIRBAG1
[nan 'M' '02' '03' '04' '01' '00' '97']

TRAILVEH
TRAILER_PARTIAL_VIN
[nan '99999999999' '3H3V532C8FT' ... '4X4TVBC25F5' '43YDC2224CC'
 '2DM42JA48SS']

TRAILVEH
TRL_VEH_TAG_YR
[nan '2005' '9999' '2002' '205' '2006' '2007' '2004' '1205' '854' '0405'
 '06' '2009' '1996' '2000' '1990' '999' '9' '2001' '25' '05' '99-9' '1995'
 '2010' '02' '26' '2008' '1997' '6' '22' '2011' '0000' '1999' '1973'
 '8884' '0360' '08' '012' '011' '206' '104' '209' '7100' '60' '201' '0705'
 '2015' '402' '236' '2504' '24' '2016' '1998' '099' '20' '1206' '208'
 '2027' '2003' '2012' '64' '1993' '506' '000' '8' '0008' '1200' '2022'
 '2023' '85' '200' '0106' '9206' '800' '216' '195' '0660' '1994' '246' '7'
 '8004' '99' '1972' '008' '7000' '080' '204' '265' '0606' '1005' '1981'
 '88' '1988' '2200' '96' '66' '1987' '09' '00' '239' '708' '6206' '2014'
 '3197' '0006' '305' '210' '2024' '0002' '608' '862' '2205' '605' '609'
 'PERM' '046' '1906' '56' '07' '426' '0306' '2017' '824' '106' '2018'
 '1986' '565' '066' '1905' '2266' '2806' '2' '7752' '3106' '759' '049'
 '1991' '80' '2232' '1985' '2206' '6802' 2021.0 2099.0 2020.0 2009.0
 2022.0 2007.0 9999.0 2036.0 2024.0 2017.0 2002.0 2025.0 1992.0 2013.0
 1999.0 2027.0 21.0 2019.0 2018.0 2023.0 2012.0 2010.0 2008.0 2004.0
 1979.0 2001.0 999.0 2016.0 2039.0 2026.0 2003.0 2006.0 2028.0 2038.0
 2121.0 2014.0 1988.0 2000.0 2005.0 1994.0 1984.0 2011.0 2030.0 2015.0
 2033.0 1998.0 22.0 2041.0 2031.0 1975.0 1997.0 2037.0 2050.0 2035.0
 1996.0 1925.0 1995.0 99.0 521.0 1987.0 2029.0 1991.0 1986.0 2032.0 220.0
 2042.0 1900.0 1993.0 921.0 1983.0 421.0 1985.0 20.0 122.0 1980.0 2045.0
 1989.0 1981.0 2043.0 23.0 1964.0 202.0 1.0 420.0 1990.0 1924.0 1920.0
 2068.0 2997.0 321.0 1968.0 2109.0 820.0 19.0 29.0 1919.0 '2099' '2013'
 '10' '2019' '11' '1974' '1992' '2020' '1975' '13' '1984' '0411' '1989'
 '2029' '3011' '1968' '2096' '1976' '5014' '1982' '0110' '1983' '2031'
 '3 11' '2030' '2028' '0111' '0714' '2021' '1978' '1900' '1210' '0211'
 '1970' '0314' '97' '1980' '2026' '0214' '1965' '1969' '1919' 17.0 320.0
 1982.0 1977.0 317.0 218.0 1118.0 318.0 18.0 1971.0 2222.0 1918.0 1974.0
 8888.0 2034.0 2040.0 2107.0 1111.0 516.0 1016.0 3.0 16.0 217.0 2047.0
 207.0 1976.0 2085.0 4.0 1216.0 1966.0 2999.0 117.0 118.0 14.0 11.0 212.0
 312.0 612.0 12.0 1211.0 412.0 1972.0 2095.0 1965.0 710.0 28.0 221.0 315.0
 15.0 611.0 7312.0 311.0 211.0 2073.0 2500.0 319.0 2108.0 1018.0 1973.0
 119.0 719.0 2097.0 2094.0 34.0 821.0 721.0 1954.0 '2066' '0' '287' '6012'
 '207' '1207' '807' '007' '2060' '0107' '29' '04' '03' '2606' '27' '87'
 '606' '226' '4' '0907' '0108' '286' '256' '806' '3310' '0820' '8824'
 '0207' '212' '0310' '94' '0126' '50' '726' '0706' '964' '1201' '6006'
 '904' '1006' '46' '3207' '28' '7320' '0805' '69' '86' '21' '9820' '37'
 '227' '9929' '6107' '052' '5207' '9200' '267' '202' '2056' '067' '0801'
 '7106' '906' '8604' '51' '603' '262' '90' 1299.0 4444.0 208.0 8.0 209.0
 3857.0 1108.0 9929.0 2093.0 0.0 509.0 309.0 6.0 9.0 1897.0 2091.0 2069.0
 1978.0 1200.0 3110.0 414.0 409.0 709.0 10.0 90.0 809.0 1908.0 1208.0
 1960.0 214.0 5.0 54.0 1109.0 410.0 24.0 310.0 2098.0 1970.0 7.0 169.0
 89.0 2.0 210.0 2067.0 609.0 2110.0 69.0 110.0 206.0 2100.0 77.0 2072.0
 204.0 27.0 899.0 257.0 287.0 200.0 246.0 707.0 240.0 8800.0 37.0 907.0
 68.0 607.0 107.0 302.0 841.0 2065.0 668.0 411.0 2280.0 6200.0 7820.0
 367.0 60.0 608.0 8024.0 2207.0 228.0 30.0 40.0 5280.0 808.0 9200.0 800.0
 508.0 170.0 529.0 9674.0 7824.0 9504.0 4499.0 265.0 880.0 205.0 1710.0
 9969.0 328.0 7620.0 5001.0 98.0 1207.0 526.0 708.0 7589.0 108.0 468.0
 780.0 2203.0 92.0 268.0 76.0 667.0 408.0 862.0 67.0 610.0 510.0 7400.0
 5866.0 2120.0 266.0 8789.0 9094.0 8204.0 323.0 25.0 426.0 622.0 523.0
 229.0 '14' '3999' '2068' '15' '2999' '1979' '2025' '1114' '1914' '0615'
 '0415' '0215' '2036' '2033' '0199' '2035' '2 15' '2914' '0719' '0614'
 '0115' '9 14' 13.0 114.0 913.0 314.0 1113.0 313.0 1213.0 3013.0 216.0
 213.0 134.0 713.0 513.0 2049.0 514.0 613.0 1112.0 413.0 512.0 1012.0
 1912.0 712.0 615.0 815.0 316.0 1915.0 215.0 2059.0 415.0 1115.0 2046.0
 624.0 1223.0 2923.0 524.0 2044.0 2048.0 1937.0]

VEHICLE
BODY_TYPE
['04' '02' '09' '15' '01' '50' '06' '12' '03' '20' nan '72' '48' '05' '40'
 '69' '60' '99' '29' '73' '38' '51' '75' '49' '25' '59' '08' '79' '13'
 '24' '61' '23' '41' '82' '58' '30' '90' '78' '95' '74' '19' '10' '28'
 '81' '21' '80' '16' '91' '39' '32' '42' '43' '22' '94' '11' '52' '62'
 '92' 'C4' '98' 15.0 4.0 9.0 69.0 28.0 3.0 51.0 5.0 40.0 79.0 20.0 41.0
 42.0 6.0 75.0 12.0 2.0 19.0 1.0 29.0 39.0 98.0 24.0 23.0 73.0 49.0 72.0
 78.0 50.0 25.0 8.0 13.0 11.0 48.0 60.0 10.0 99.0 58.0 43.0 '88' '31' 61.0
 88.0 95.0 82.0 81.0 90.0 80.0 21.0 74.0 30.0 32.0 59.0 38.0 31.0 16.0
 94.0 92.0 77.0]

VEHICLE
TRAVEL_SPD
[35.0 30.0 20.0 99.0 0.0 999.0 55.0 60.0 25.0 40.0 5.0 45.0 10.0 50.0 15.0
 3.0 67.0 12.0 225.0 nan 65.0 70.0 75.0 68.0 66.0 80.0 899.0 4.0 36.0 62.0
 100.0 1.0 8.0 220.0 240.0 449.0 11.0 73.0 33.0 64.0 6.0 72.0 120.0 2.0
 38.0 63.0 499.0 48.0 7.0 41.0 21.0 43.0 230.0 28.0 34.0 730.0 47.0 145.0
 27.0 9.0 170.0 42.0 85.0 199.0 19.0 37.0 23.0 24.0 635.0 53.0 59.0 76.0
 69.0 394.0 58.0 32.0 949.0 57.0 108.0 13.0 90.0 990.0 89.0 95.0 354.0
 997.0 46.0 111.0 56.0 300.0 49.0 44.0 52.0 245.0 61.0 222.0 425.0 850.0
 26.0 800.0 71.0 18.0 115.0 200.0 900.0 39.0 835.0 74.0 125.0 797.0 22.0
 504.0 98.0 725.0 735.0 205.0 991.0 501.0 799.0 130.0 666.0 745.0 51.0
 88.0 855.0 610.0 17.0 31.0 54.0 104.0 210.0 335.0 979.0 440.0 81.0 715.0
 989.0 110.0 78.0 16.0 705.0 92.0 777.0 720.0 235.0 14.0 655.0 500.0 250.0
 155.0 955.0 404.0 939.0 350.0 83.0 79.0 234.0 998.0 555.0 454.0 965.0
 665.0 254.0 101.0 505.0 995.0 29.0 615.0 255.0 455.0 888.0 215.0 299.0
 105.0 510.0 600.0 400.0 445.0 530.0 765.0 84.0 640.0 251.0 560.0 114.0
 599.0 840.0 654.0 520.0 77.0 151.0 135.0 158.0 444.0 86.0 351.0 630.0
 82.0 450.0 540.0 479.0 865.0 935.0 301.0 352.0 620.0 97.0 645.0 119.0
 710.0 845.0 925.0 140.0 919.0 93.0 945.0 451.0 103.0 180.0 94.0 355.0
 106.0 910.0 123.0 107.0 353.0 430.0 525.0 202.0 652.0 87.0 303.0 707.0
 91.0 256.0 565.0 113.0 435.0 409.0 415.0 102.0 252.0 133.0 550.0 201.0
 321.0 333.0 770.0 160.0 456.0 116.0 127.0 915.0 940.0 305.0 345.0 755.0
 309.0 930.0 410.0 606.0 994.0 959.0 670.0 109.0 96.0 406.0 671.0 909.0
 401.0 920.0 118.0 471.0 660.0 554.0 232.0 460.0 320.0 559.0 806.0 608.0
 604.0 700.0 208.0 204.0 625.0 644.0 545.0 750.0 330.0 356.0 402.0 206.0
 988.0 150.0 405.0 642.0 304.0 694.0 253.0 646.0 310.0 672.0 602.0 825.0
 757.0 511.0 157.0 794.0 975.0 993.0 132.0 605.0 197.0 340.0 568.0 159.0
 703.0 325.0 117.0 905.0 302.0 823.0 175.0 173.0 129.0 856.0 128.0 124.0
 265.0 556.0 375.0 740.0 663.0 760.0 650.0 626.0 370.0 260.0 5.5 779.0
 446.0 977.0 950.0 281.0 399.0 '999' '057' '005' '045' '025' '035' '000'
 '050' '030' '010' '055' '015' '075' '065' '002' '099' '040' '060' '020'
 '007' '070' '009' '150' '001' '046' '003' '052' '559' '062' '028' '090'
 '048' '039' '018' '080' '021' '037' '072' '115' '100' '006' '012' '008'
 '085' '049' '004' '805' '059' '042' '036' '024' '058' '064' '145' '110'
 '063' '038' '023' '014' '044' '027' '043' '665' '061' '995' '069' '504'
 '022' '625' '068' '098' '033' '047' '067' '499' '601' '073' '979' '888'
 '034' '053' '99' '715' '135' '401' '095' '094' '555' '013' '199' '074'
 '066' '725' '032' '930' '130' '111' '220' '20' '551' '107' '250' '026'
 '084' '510' '710' '101' '105' '088' '444' '117' '071' '051' '078' '016'
 '017' '350' '029' '120' '041' '300' '400' '404' '354' '990' '056' '474'
 '425' '616' '054' '997' '991' '635' '949' '081' '147' 'UNK' '077' '600'
 '40' '399' '076' '705' '550' '086' '998' '02' '00' '760' '089' '501'
 '977' '251' '079' '989' '201' '900' '303' '116' '799' '240' '087' '500'
 '019' '325' '627' '451' '994' '988' '031' '971' '235' '083' '740' '151'
 '939' '125' '102' '909' '825' '599' '505' '097' '666' 297.0 601.0 495.0
 139.0 714.0 '093' '091' '450' '899' '750' '200' '525' '140' '225' '082'
 '996' '104' '800' '301' '255' '730' '508' '299' '092' '351' '260' '011'
 '210' '355' '645' '096' '38.' '655' '554' '190' '568' '855' '610' '701'
 '959' '675' '650' '565' '720' '333' '360' '640' '735' '435' '261' '230'
 '630' '440' '455' '205' '112' '222' '604' 112.0 203.0 290.0 138.0 785.0
 656.0 258.0 577.0 704.0 152.0 154.0 775.0 161.0 412.0 690.0 424.0 448.0
 442.0 465.0 701.0 273.0 336.0 317.0 758.0]

In [37]:
col_dict = pd.DataFrame({'Dataset':dsnamesx,
                         'Column':cols,
                         'Data Type':dtypes})

In [38]:
col_dict.head()

   Dataset          Column Data Type
0  COMMVEH             CRN     int64
1  COMMVEH        AXLE_CNT   float64
2  COMMVEH   CARGO_BD_TYPE   float64
3  COMMVEH  CARRIER_ADDR_1       str
4  COMMVEH  CARRIER_ADDR_2       str

In [39]:
col_dict.to_csv('data/aux/column_dict.csv', index=False)

### <a id='select-crash'>Select CRASH Columns to Use</a>

In [40]:
crash_cols = [
 'COUNTY',
'CRASH_MONTH',
'CRASH_YEAR',
'CRN',
'DAY_OF_WEEK',
'DRIVER_COUNT_16YR',
'DRIVER_COUNT_17YR',
'DRIVER_COUNT_18YR',
'DRIVER_COUNT_19YR',
'DRIVER_COUNT_20YR',
'DRIVER_COUNT_50_64YR',
'DRIVER_COUNT_65_74YR',
'DRIVER_COUNT_75PLUS',
'ILLUMINATION',
'INTERSECT_TYPE',
'LOCATION_TYPE',
'ROAD_CONDITION',
'SECONDARY_CRASH',
'URBAN_RURAL',
'WEATHER1',
'WEATHER2'
 ]

In [41]:
num_cols = []
str_cols = []
obj_cols = []
oth_cols = []

for c in crash_cols:
    if crash[c].dtype.name in ['int64', 'float64']:
        num_cols.append(c)
    elif crash[c].dtype.name in ['str']:
        str_cols.append(c)
    elif crash[c].dtype.name in ['object']:
        obj_cols.append(c)
    else:
        oth_cols.append(c)

In [42]:
len(oth_cols)

0

In [43]:
obj_cols

['SECONDARY_CRASH']

In [44]:
crash['INTERSECTION_RELATED'].unique()

array([nan, 'N', 'Y'], dtype=object)

In [45]:
crash['SECONDARY_CRASH'].unique()

array([nan, 'N', 'Y'], dtype=object)

In [46]:
crash_selected = crash.loc[:,crash_cols].\
    reset_index(drop=True).\
    copy()

### <a id='select-flags'>Select FLAGS Columns to Use</a>

In [47]:
flags_cols = [
'AGGRESSIVE_DRIVING',
'ALCOHOL_RELATED',
'CELL_PHONE',
'CRN',
'CROSS_MEDIAN',
'CURVE_DVR_ERROR',
'CURVED_ROAD',
'DISTRACTED',
'DRINKING_DRIVER',
'DRIVER_16YR',
'DRIVER_17YR',
'DRIVER_18YR',
'DRIVER_19YR',
'DRIVER_20YR',
'DRIVER_50_64YR',
'DRIVER_65_74YR',
'DRIVER_75PLUS',
'DRUG_RELATED',
'DRUGGED_DRIVER',
'FATIGUE_ASLEEP',
'HIT_RUN',
'ICY_ROAD',
'ILLEGAL_DRUG_RELATED',
'ILLUMINATION_DARK',
'IMPAIRED_DRIVER',
'IMPAIRED_NONMOTORIST',
'INTERSECTION',
'LANE_DEPARTURE',
'MARIJUANA_DRUGGED_DRIVER',
'MARIJUANA_RELATED',
'MATURE_DRIVER',
'MC_DRINKING_DRIVER',
'NHTSA_AGG_DRIVING',
'NON_INTERSECTION',
'OPIOID_RELATED',
'RAMP',
'RAMP_SEGMENT',
'RAMP_TERMINAL',
'ROUNDABOUT',
'RUNNING_RED_LT',
'RUNNING_STOP_SIGN',
'RURAL',
'SIGNALIZED_INT',
'SNOW_SLUSH_ROAD',
'SPEED_CHANGE_LANE',
'SPEEDING',
'SPEEDING_RELATED',
'STOP_CONTROLLED_INT',
'SUDDEN_DEER',
'TAILGATING',
'UNDERAGE_DRNK_DRV',
'UNLICENSED',
'UNSIGNALIZED_INT',
'URBAN',
'WET_ROAD',
'YOUNG_DRIVER'
 ]

In [48]:
num_cols = []
str_cols = []
obj_cols = []
oth_cols = []

for c in flags_cols:
    if flags[c].dtype.name in ['int64', 'float64']:
        num_cols.append(c)
    elif flags[c].dtype.name in ['str']:
        str_cols.append(c)
    elif flags[c].dtype.name in ['object']:
        obj_cols.append(c)
    else:
        oth_cols.append(c)

In [49]:
len(oth_cols)

0

In [50]:
for c in oth_cols:
    print(c)
    print(crash[c].dtype.name)
    print()

In [51]:
flags_selected = flags.loc[:,flags_cols].\
    reset_index(drop=True).\
    copy()

### <a id='enum-df'>Display Decoding Dictionary</a>

In [52]:
#enum_df = pd.read_excel('data/aux/enumeration_dictionary.xlsx')

In [53]:
#enum_df.COLUMN.unique()

In [54]:
enum_cols = ['DAY_OF_WEEK',
'ILLUMINATION',
'INTERSECT_TYPE',
'LOCATION_TYPE', 
'ROAD_CONDITION',
'COUNTY',
'URBAN_RURAL',
'WEATHER1',
'WEATHER2']

In [55]:
"""enum_dict = {}

for c in enum_cols:
    enum = enum_df.loc[enum_df['COLUMN']==c]
    tmp_dict = dict(zip(enum['VALUE'], enum['CONTENT'].str.strip()))
    enum_dict[c] = tmp_dict"""

"enum_dict = {}\n\nfor c in enum_cols:\n    enum = enum_df.loc[enum_df['COLUMN']==c]\n    tmp_dict = dict(zip(enum['VALUE'], enum['CONTENT'].str.strip()))\n    enum_dict[c] = tmp_dict"

In [56]:
for k, v in enum_dict.items():
    print(k)
    print(v)
    print()

DAY_OF_WEEK
{1: 'Sunday', 2: 'Monday', 3: 'Tuesday', 4: 'Wednesday', 5: 'Thursday', 6: 'Friday', 7: 'Saturday', 9: 'Unknown'}

LOCATION_TYPE
{0: 'Not applicable', 1: 'Underpass', 2: 'Ramp', 3: 'Bridge', 4: 'Tunnel', 5: 'Toll Booth', 6: 'Cross over related', 7: 'Driveway or Parking Lot', 8: 'Ramp and bridge', 99: 'Unknown'}

RELATION_TO_ROAD
{1: 'On roadway', 2: 'Shoulder', 3: 'Median', 4: 'Roadside (off trafficway; on vehicle area)', 5: 'Outside trafficway (in area not meant for vehicles)', 6: 'In parking lane', 7: 'Gore (intersection of ramp and highway)', 9: 'Unknown'}

ROAD_CONDITION
{1: 'Dry', 2: 'Ice/Frost', 3: 'Mud, Dirt, Gravel', 4: 'Oil', 5: 'Sand', 6: 'Slush', 7: 'Snow', 8: 'Water (Standing or Moving)', 9: 'Wet', 22: 'Mud, Sand, Dirt, Oil (Expired 1-1-20)', 98: 'Other', 99: 'Unknown'}

COUNTY
{1: 'ADAMS', 2: 'ALLEGHENY', 3: 'ARMSTRONG', 4: 'BEAVER', 5: 'BEDFORD', 6: 'BERKS', 7: 'BLAIR', 8: 'BRADFORD', 9: 'BUCKS', 10: 'BUTLER', 11: 'CAMBRIA', 12: 'CAMERON', 13: 'CARBON', 14: 'CENTRE', 15: 'CHESTER', 16: 'CLARION', 17: 'CLEARFIELD', 18: 'CLINTON', 19: 'COLUMBIA', 20: 'CRAWFORD', 21: 'CUMBERLAND', 22: 'DAUPHIN', 23: 'DELAWARE', 24: 'ELK', 25: 'ERIE', 26: 'FAYETTE', 27: 'FOREST', 28: 'FRANKLIN', 29: 'FULTON', 30: 'GREENE', 31: 'HUNTINGDON', 32: 'INDIANA', 33: 'JEFFERSON', 34: 'JUNIATA', 35: 'LACKAWANNA', 36: 'LANCASTER', 37: 'LAWRENCE', 38: 'LEBANON', 39: 'LEHIGH', 40: 'LUZERNE', 41: 'LYCOMING', 42: 'MCKEAN', 43: 'MERCER', 44: 'MIFFLIN', 45: 'MONROE', 46: 'MONTGOMERY', 47: 'MONTOUR', 48: 'NORTHAMPTON', 49: 'NORTHUMBERLAND', 50: 'PERRY', 51: 'PIKE', 52: 'POTTER', 53: 'SCHUYLKILL', 54: 'SNYDER', 55: 'SOMERSET', 56: 'SULLIVAN', 57: 'SUSQUEHANNA', 58: 'TIOGA', 59: 'UNION', 60: 'VENANGO', 61: 'WARREN', 62: 'WASHINGTON', 63: 'WAYNE', 64: 'WESTMORELAND', 65: 'WYOMING', 66: 'YORK', 67: 'PHILADELPHIA'}

ILLUMINATION
{1: 'Daylight', 2: 'Dark - no streetlights', 3: 'Dark streetlights', 4: 'Dusk', 5: 'Dawn', 6: 'Dark unknown roadway lighting', 8: 'Other', 9: 'Unknown'}

INTERSECT_TYPE
{0: 'Mid-block', 1: 'Four-way intersection', 2: 'â€œTâ€ intersection', 3: 'â€œYâ€ intersection', 4: 'Traffic Circle/Roundabout (EXPIRED 1/1/18)', 5: 'Multi-leg intersection', 6: 'Ramp End', 7: 'Ramp Begin', 8: 'Crossover', 9: 'Railroad crossing', 10: 'Other', 11: 'â€œLâ€ Intersection', 12: 'Traffic Circle', 13: 'Roundabout', 99: 'Unknown'}

URBAN_RURAL
{1: 'Rural', 2: 'Urbanized', 3: 'Urban'}

WEATHER1
{1: 'Blowing Sand, Soil, Dirt', 2: 'Blowing Snow', 3: 'Clear', 4: 'Cloudy', 5: 'Fog, Smog, Smoke', 6: 'Freezing Rain or Freezing Drizzle', 7: 'Rain', 8: 'Severe Crosswinds', 9: 'Sleet or Hail', 10: 'Snow', 98: 'Other', 99: 'Unknown'}

WEATHER2
{1: 'Blowing Sand, Soil, Dirt', 2: 'Blowing Snow', 3: 'Clear', 4: 'Cloudy', 5: 'Fog, Smog, Smoke', 6: 'Freezing Rain or Freezing Drizzle', 7: 'Rain', 8: 'Severe Crosswinds', 9: 'Sleet or Hail', 10: 'Snow', 98: 'Other'}

SEAT_POSITION
{0: 'Not a passenger or occupant', 1: 'Driver - all vehicles', 2: 'Front seat middle position', 3: 'Front seat right side', 4: 'Second row - left side or motorcycle passenger', 5: 'Second row - middle position', 6: 'Second row - right side', 7: 'Third row - left side', 8: 'Third row - middle position', 9: 'Third row - right side', 10: 'Sleeper section of truck cab', 11: 'In other enclosed passenger or cargo area', 12: 'In open area (back of pickup etc.)', 13: 'Trailing unit', 14: 'Riding on vehicle exterior', 15: 'Bus passenger', 21: 'Fourth Row â€“ Left Side', 22: 'Fourth Row â€“ Middle Position', 23: 'Fourth Row â€“ Right Side', 24: 'Other Row â€“ Left Side', 25: 'Other Row â€“ Middle Position', 26: 'Other Row â€“ Right Side', 27: 'Unknown Row â€“ Left Side', 28: 'Unknown Row â€“ Middle Position', 29: 'Unknown Row â€“ Left Side', 98: 'Other', 99: 'Unknown'}

PERSON_TYPE
{1: 'Driver', 2: 'Passenger', 4: 'Non-Motorist Operator', 5: 'Non-Motorist Occupant', 7: 'Pedestrian', 8: 'Other', 9: 'Unknown'}

UNIT_TYPE
{1: 'Motor vehicle in transport', 2: 'Legally parked', 3: 'Illegally parked', 5: 'Hit and run vehicle', 6: 'Disabled from a previous crash', 21: 'Train', 30: 'Non-Motorist', 33: 'Personal Delivery Device', 51: 'Phantom vehicle'}

In [57]:
enum_dict['DAY_OF_WEEK']

{1: 'Sunday',
 2: 'Monday',
 3: 'Tuesday',
 4: 'Wednesday',
 5: 'Thursday',
 6: 'Friday',
 7: 'Saturday',
 9: 'Unknown'}

In [58]:
enum_dict['DAY_OF_WEEK'][1]

'Sunday'

### <a id='data-dict'>Create Data Dictionary</a>

In [59]:
enum_cols

['DAY_OF_WEEK',
 'ILLUMINATION',
 'INTERSECT_TYPE',
 'LOCATION_TYPE',
 'ROAD_CONDITION',
 'COUNTY',
 'URBAN_RURAL',
 'WEATHER1',
 'WEATHER2']

In [60]:
crash_dict = create_data_dict(crash_selected, enum_dict)

In [61]:
crash_dict.head()

,Column,Data Type,Number of Unique,Missing,Range/Unique,Enumeration
5,COUNTY,int64,67,0 (0.0%),"[1, 67]","{1: 'ADAMS', 2: 'ALLEGHENY', 3: 'ARMSTRONG', 4..."
11,CRASH_MONTH,int64,12,0 (0.0%),"[1, 12]",None
18,CRASH_YEAR,int64,20,0 (0.0%),"[2005, 2024]",None
3,CRN,int64,2461193,0 (0.0%),"[2005000003, 2025050430]",None
12,DAY_OF_WEEK,int64,7,0 (0.0%),"[1, 7]","{1: 'Sunday', 2: 'Monday', 3: 'Tuesday', 4: 'W..."

In [62]:
crash_dict.to_csv('data/aux/crash_data_dict.csv', index=False)

In [63]:
flags_dict = create_data_dict(flags_selected, enum_dict)

In [64]:
flags_dict.to_csv('data/aux/flags_data_dict.csv', index=False)

### <a id='merge'>Merge CRASH and FLAGS</a>

In [65]:
df = pd.merge(crash_selected, flags_selected, on='CRN', how='outer').copy()

In [66]:
set(crash_selected.columns.tolist())

{'COUNTY',
 'CRASH_MONTH',
 'CRASH_YEAR',
 'CRN',
 'DAY_OF_WEEK',
 'DRIVER_COUNT_16YR',
 'DRIVER_COUNT_17YR',
 'DRIVER_COUNT_18YR',
 'DRIVER_COUNT_19YR',
 'DRIVER_COUNT_20YR',
 'DRIVER_COUNT_50_64YR',
 'DRIVER_COUNT_65_74YR',
 'DRIVER_COUNT_75PLUS',
 'ILLUMINATION',
 'INTERSECT_TYPE',
 'LOCATION_TYPE',
 'ROAD_CONDITION',
 'SECONDARY_CRASH',
 'URBAN_RURAL',
 'WEATHER1',
 'WEATHER2'}

In [67]:
set(flags_selected.columns.tolist())

{'AGGRESSIVE_DRIVING',
 'ALCOHOL_RELATED',
 'CELL_PHONE',
 'CRN',
 'CROSS_MEDIAN',
 'CURVED_ROAD',
 'CURVE_DVR_ERROR',
 'DISTRACTED',
 'DRINKING_DRIVER',
 'DRIVER_16YR',
 'DRIVER_17YR',
 'DRIVER_18YR',
 'DRIVER_19YR',
 'DRIVER_20YR',
 'DRIVER_50_64YR',
 'DRIVER_65_74YR',
 'DRIVER_75PLUS',
 'DRUGGED_DRIVER',
 'DRUG_RELATED',
 'FATIGUE_ASLEEP',
 'HIT_RUN',
 'ICY_ROAD',
 'ILLEGAL_DRUG_RELATED',
 'ILLUMINATION_DARK',
 'IMPAIRED_DRIVER',
 'IMPAIRED_NONMOTORIST',
 'INTERSECTION',
 'LANE_DEPARTURE',
 'MARIJUANA_DRUGGED_DRIVER',
 'MARIJUANA_RELATED',
 'MATURE_DRIVER',
 'MC_DRINKING_DRIVER',
 'NHTSA_AGG_DRIVING',
 'NON_INTERSECTION',
 'OPIOID_RELATED',
 'RAMP',
 'RAMP_SEGMENT',
 'RAMP_TERMINAL',
 'ROUNDABOUT',
 'RUNNING_RED_LT',
 'RUNNING_STOP_SIGN',
 'RURAL',
 'SIGNALIZED_INT',
 'SNOW_SLUSH_ROAD',
 'SPEEDING',
 'SPEEDING_RELATED',
 'SPEED_CHANGE_LANE',
 'STOP_CONTROLLED_INT',
 'SUDDEN_DEER',
 'TAILGATING',
 'UNDERAGE_DRNK_DRV',
 'UNLICENSED',
 'UNSIGNALIZED_INT',
 'URBAN',
 'WET_ROAD',
 'YOUNG_DRIVER'}

### <a id='eval'>Evaluate Related Flags and Enumerated Fields</a>

COUNTY

In [68]:
df['COUNTYx'] = [enum_dict['COUNTY'][i] for i in df['COUNTY']]

URBAN_RURAL

In [69]:
df['URBAN_RURALx'] = [enum_dict['COUNTY'][i] for i in df['URBAN_RURAL']]

DAY_OF_WEEK

In [70]:
df['DAY_OF_WEEKx'] = [enum_dict['DAY_OF_WEEK'][i] for i in df['DAY_OF_WEEK']]

In [71]:
df['DAY_OF_WEEKx'].value_counts()

DAY_OF_WEEKx
Friday       408675
Saturday     360443
Thursday     356049
Wednesday    351283
Tuesday      346787
Monday       332554
Sunday       305402
Name: count, dtype: int64

ROAD_CONDITION and related flags

In [72]:
enum_dict['ROAD_CONDITION']

{1: 'Dry',
 2: 'Ice/Frost',
 3: 'Mud, Dirt, Gravel',
 4: 'Oil',
 5: 'Sand',
 6: 'Slush',
 7: 'Snow',
 8: 'Water (Standing or Moving)',
 9: 'Wet',
 22: 'Mud, Sand, Dirt, Oil (Expired 1-1-20)',
 98: 'Other',
 99: 'Unknown'}

In [73]:
df['ROAD_CONDITIONx'] = [enum_dict['ROAD_CONDITION'][i] for i in df['ROAD_CONDITION']]

In [74]:
df['ROAD_CONDITIONx'].value_counts()

ROAD_CONDITIONx
Dry                           1794903
Wet                            429278
Snow                            97813
Ice/Frost                       83886
Slush                           32143
Water (Standing or Moving)       8194
Mud, Dirt, Gravel                6948
Other                            5859
Unknown                          2009
Oil                               139
Sand                               21
Name: count, dtype: int64

In [75]:
df.loc[df['ICY_ROAD']==1,['ROAD_CONDITIONx','SNOW_SLUSH_ROAD','WET_ROAD','ICY_ROAD']].head()

    ROAD_CONDITIONx  SNOW_SLUSH_ROAD  WET_ROAD  ICY_ROAD
117       Ice/Frost                0         0         1
124       Ice/Frost                0         0         1
159       Ice/Frost                0         0         1
162       Ice/Frost                0         0         1
196       Ice/Frost                0         0         1

In [76]:
df.loc[df['SNOW_SLUSH_ROAD']==1,['ROAD_CONDITIONx','SNOW_SLUSH_ROAD','WET_ROAD','ICY_ROAD']]['ROAD_CONDITIONx'].unique()

<StringArray>
['Snow', 'Slush']
Length: 2, dtype: str

In [77]:
df.loc[df['WET_ROAD']==1,['ROAD_CONDITIONx','SNOW_SLUSH_ROAD','WET_ROAD','ICY_ROAD']]['ROAD_CONDITIONx'].unique()

<StringArray>
['Wet', 'Water (Standing or Moving)']
Length: 2, dtype: str

In [78]:
df.loc[df['ICY_ROAD']==1,['ROAD_CONDITIONx','SNOW_SLUSH_ROAD','WET_ROAD','ICY_ROAD']]['ROAD_CONDITIONx'].unique()

<StringArray>
['Ice/Frost']
Length: 1, dtype: str

LOCATION_TYPE and related flags

In [79]:
enum_dict['LOCATION_TYPE']

{0: 'Not applicable',
 1: 'Underpass',
 2: 'Ramp',
 3: 'Bridge',
 4: 'Tunnel',
 5: 'Toll Booth',
 6: 'Cross over related',
 7: 'Driveway or Parking Lot',
 8: 'Ramp and bridge',
 99: 'Unknown'}

In [80]:
loc_flags = [
'CROSS_MEDIAN',
'CURVE_DVR_ERROR',
'CURVED_ROAD',
'RAMP',
'RAMP_SEGMENT',
'RAMP_TERMINAL',
'ROUNDABOUT',
'SPEED_CHANGE_LANE'
]

In [81]:
df['LOCATION_TYPEx'] = [enum_dict['LOCATION_TYPE'][i] for i in df['LOCATION_TYPE']]

In [82]:
df['LOCATION_TYPEx'].value_counts()

LOCATION_TYPEx
Not applicable             2216661
Driveway or Parking Lot     117893
Ramp                         69495
Bridge                       32793
Underpass                     7974
Ramp and bridge               4487
Cross over related            4290
Unknown                       4049
Tunnel                        2315
Toll Booth                    1236
Name: count, dtype: int64

In [83]:
for c in loc_flags:
    print(c)
    print(df.loc[:,['LOCATION_TYPEx', c]].drop_duplicates())
    print()

CROSS_MEDIAN
                 LOCATION_TYPEx  CROSS_MEDIAN
0                Not applicable             0
7       Driveway or Parking Lot             0
11                       Bridge             0
19                         Ramp             0
29               Not applicable             1
32                    Underpass             0
72                      Unknown             0
187             Ramp and bridge             0
214          Cross over related             0
768                      Tunnel             0
1700    Driveway or Parking Lot             1
2778                       Ramp             1
4383                 Toll Booth             0
4843                     Bridge             1
4845                  Underpass             1
9340         Cross over related             1
27277                   Unknown             1
70052                    Tunnel             1
565418               Toll Booth             1
733360          Ramp and bridge             1

CURVE_DVR_ERROR
                 LOCATION_TYPEx  CURVE_DVR_ERROR
0                Not applicable                0
2                Not applicable                1
7       Driveway or Parking Lot                0
11                       Bridge                1
19                         Ramp                0
32                    Underpass                0
48                       Bridge                0
72                      Unknown                0
187             Ramp and bridge                0
214          Cross over related                0
572                        Ramp                1
768                      Tunnel                0
1700    Driveway or Parking Lot                1
4383                 Toll Booth                0
9080            Ramp and bridge                1
10432                 Underpass                1
18273        Cross over related                1
21909                   Unknown                1
155135                   Tunnel                1
963842               Toll Booth                1

CURVED_ROAD
                LOCATION_TYPEx  CURVED_ROAD
0               Not applicable            1
3               Not applicable            0
7      Driveway or Parking Lot            0
11                      Bridge            1
19                        Ramp            0
32                   Underpass            0
50                      Bridge            0
72                     Unknown            0
166    Driveway or Parking Lot            1
187            Ramp and bridge            1
214         Cross over related            0
385            Ramp and bridge            0
471                       Ramp            1
663                  Underpass            1
768                     Tunnel            0
2457                   Unknown            1
4383                Toll Booth            0
9841        Cross over related            1
11865                   Tunnel            1
26164               Toll Booth            1

RAMP
                 LOCATION_TYPEx  RAMP
0                Not applicable     0
7       Driveway or Parking Lot     0
11                       Bridge     0
19                         Ramp     1
32                    Underpass     0
72                      Unknown     0
187             Ramp and bridge     0
194                        Ramp     0
214          Cross over related     0
223              Not applicable     1
681             Ramp and bridge     1
768                      Tunnel     0
1973                     Bridge     1
4383                 Toll Booth     0
4670         Cross over related     1
19935   Driveway or Parking Lot     1
22667                 Underpass     1
27267                   Unknown     1
121768                   Tunnel     1
220189               Toll Booth     1

RAMP_SEGMENT
                  LOCATION_TYPEx  RAMP_SEGMENT
0                 Not applicable             0
7        Driveway or Parking Lot             0
11                        Bridge             0
19                          Ramp             0
32                     Underpass             0
72                       Unknown             0
187              Ramp and bridge             0
214           Cross over related             0
768                       Tunnel             0
1467                        Ramp             1
3281              Not applicable             1
4152             Ramp and bridge             1
4383                  Toll Booth             0
16178                     Bridge             1
30413    Driveway or Parking Lot             1
104006                 Underpass             1
121768                    Tunnel             1
867906        Cross over related             1
963841                Toll Booth             1
2250973                  Unknown             1

RAMP_TERMINAL
                 LOCATION_TYPEx  RAMP_TERMINAL
0                Not applicable              0
7       Driveway or Parking Lot              0
11                       Bridge              0
19                         Ramp              1
32                    Underpass              0
72                      Unknown              0
187             Ramp and bridge              0
194                        Ramp              0
214          Cross over related              0
223              Not applicable              1
768                      Tunnel              0
2430                     Bridge              1
3978            Ramp and bridge              1
4383                 Toll Booth              0
4670         Cross over related              1
19935   Driveway or Parking Lot              1
22667                 Underpass              1
27439                   Unknown              1
407665                   Tunnel              1
970590               Toll Booth              1

ROUNDABOUT
                  LOCATION_TYPEx  ROUNDABOUT
0                 Not applicable           0
7        Driveway or Parking Lot           0
11                        Bridge           0
19                          Ramp           0
32                     Underpass           0
72                       Unknown           0
187              Ramp and bridge           0
214           Cross over related           0
768                       Tunnel           0
4383                  Toll Booth           0
64684             Not applicable           1
453943                   Unknown           1
1098990                     Ramp           1
1187739  Driveway or Parking Lot           1
1772963          Ramp and bridge           1
1852609       Cross over related           1

SPEED_CHANGE_LANE
                 LOCATION_TYPEx  SPEED_CHANGE_LANE
0                Not applicable                  0
7       Driveway or Parking Lot                  0
11                       Bridge                  0
19                         Ramp                  0
32                    Underpass                  0
72                      Unknown                  0
187             Ramp and bridge                  0
214          Cross over related                  0
681             Ramp and bridge                  1
708                        Ramp                  1
768                      Tunnel                  0
1037             Not applicable                  1
4383                 Toll Booth                  0
4670         Cross over related                  1
6729                     Bridge                  1
22667                 Underpass                  1
27267                   Unknown                  1
232789               Toll Booth                  1
263584  Driveway or Parking Lot                  1
626709                   Tunnel                  1

INTERSECT_TYPE and related flags

In [84]:
int_flags = [
'INTERSECTION',
'NON_INTERSECTION',
'RUNNING_RED_LT',
'RUNNING_STOP_SIGN',
'SIGNALIZED_INT',
'STOP_CONTROLLED_INT',
'UNSIGNALIZED_INT'
]

In [85]:
df['INTERSECT_TYPEx'] = [enum_dict['INTERSECT_TYPE'][i] for i in df['INTERSECT_TYPE']]

In [86]:
df['INTERSECT_TYPEx'].value_counts()

INTERSECT_TYPEx
Mid-block                 1524430
Four-way intersection      522497
â€œTâ€ intersection           311912
â€œYâ€ intersection            40654
Ramp End                    21380
Ramp Begin                  14965
Multi-leg intersection      14067
Other                        7392
Railroad crossing            1375
â€œLâ€ Intersection             1243
Roundabout                    759
Crossover                     286
Traffic Circle                228
Unknown                         5
Name: count, dtype: int64

In [87]:
for c in int_flags:
    print(c)
    print(df.loc[:,['INTERSECT_TYPEx', c]].drop_duplicates())
    print()

INTERSECTION
                INTERSECT_TYPEx  INTERSECTION
0                     Mid-block             0
2        Multi-leg intersection             1
3              â€œTâ€ intersection             1
5         Four-way intersection             1
8              â€œYâ€ intersection             1
20                        Other             1
50                   Ramp Begin             1
214                   Crossover             1
519                    Ramp End             1
4605          Railroad crossing             1
5681             Traffic Circle             1
64684                Roundabout             1
86006                   Unknown             1
1610179        â€œLâ€ Intersection             1

NON_INTERSECTION
                INTERSECT_TYPEx  NON_INTERSECTION
0                     Mid-block                 1
2        Multi-leg intersection                 0
3              â€œTâ€ intersection                 0
5         Four-way intersection                 0
8              â€œYâ€ intersection                 0
20                        Other                 0
50                   Ramp Begin                 0
214                   Crossover                 0
519                    Ramp End                 0
4605          Railroad crossing                 0
5681             Traffic Circle                 0
64684                Roundabout                 0
86006                   Unknown                 0
1610179        â€œLâ€ Intersection                 0

RUNNING_RED_LT
                INTERSECT_TYPEx  RUNNING_RED_LT
0                     Mid-block               0
2        Multi-leg intersection               0
3              â€œTâ€ intersection               0
5         Four-way intersection               0
8              â€œYâ€ intersection               0
13        Four-way intersection               1
20                        Other               0
50                   Ramp Begin               0
75             â€œTâ€ intersection               1
82                    Mid-block               1
214                   Crossover               0
519                    Ramp End               0
798                       Other               1
1122     Multi-leg intersection               1
2012           â€œYâ€ intersection               1
4605          Railroad crossing               0
5681             Traffic Circle               0
6608                   Ramp End               1
27278                Ramp Begin               1
31187                 Crossover               1
64684                Roundabout               0
86006                   Unknown               0
337400        Railroad crossing               1
1098990              Roundabout               1
1610179        â€œLâ€ Intersection               0
1714283        â€œLâ€ Intersection               1

RUNNING_STOP_SIGN
                INTERSECT_TYPEx  RUNNING_STOP_SIGN
0                     Mid-block                  0
2        Multi-leg intersection                  0
3              â€œTâ€ intersection                  0
5         Four-way intersection                  0
8              â€œYâ€ intersection                  0
20                        Other                  0
32             â€œTâ€ intersection                  1
47        Four-way intersection                  1
50                   Ramp Begin                  0
214                   Crossover                  0
519                    Ramp End                  0
798                       Other                  1
1019                  Mid-block                  1
1715     Multi-leg intersection                  1
4605          Railroad crossing                  0
4668           â€œYâ€ intersection                  1
5681             Traffic Circle                  0
13725                Ramp Begin                  1
21216                  Ramp End                  1
26545                 Crossover                  1
64684                Roundabout                  0
86006                   Unknown                  0
145298        Railroad crossing                  1
791037           Traffic Circle                  1
1610179        â€œLâ€ Intersection                  0
1668334        â€œLâ€ Intersection                  1

SIGNALIZED_INT
                INTERSECT_TYPEx  SIGNALIZED_INT
0                     Mid-block               0
2        Multi-leg intersection               0
3              â€œTâ€ intersection               0
5         Four-way intersection               0
8              â€œYâ€ intersection               0
10             â€œTâ€ intersection               1
13        Four-way intersection               1
20                        Other               0
40             â€œYâ€ intersection               1
50                   Ramp Begin               0
214                   Crossover               0
519                    Ramp End               0
798                       Other               1
1122     Multi-leg intersection               1
2832                   Ramp End               1
4605          Railroad crossing               0
4670                 Ramp Begin               1
5681             Traffic Circle               0
17639                 Crossover               1
30277            Traffic Circle               1
64684                Roundabout               0
86006                   Unknown               0
168756               Roundabout               1
1227593       Railroad crossing               1
1610179        â€œLâ€ Intersection               0
1693834        â€œLâ€ Intersection               1

STOP_CONTROLLED_INT
                INTERSECT_TYPEx  STOP_CONTROLLED_INT
0                     Mid-block                    0
2        Multi-leg intersection                    1
3              â€œTâ€ intersection                    1
4              â€œTâ€ intersection                    0
5         Four-way intersection                    0
8              â€œYâ€ intersection                    1
9         Four-way intersection                    1
20                        Other                    0
40             â€œYâ€ intersection                    0
50                   Ramp Begin                    0
214                   Crossover                    0
519                    Ramp End                    0
537      Multi-leg intersection                    0
915                       Other                    1
1079                 Ramp Begin                    1
1262                  Crossover                    1
1299                   Ramp End                    1
4605          Railroad crossing                    0
5681             Traffic Circle                    0
64684                Roundabout                    0
86006                   Unknown                    1
86415                   Unknown                    0
247776        Railroad crossing                    1
791037           Traffic Circle                    1
1187032              Roundabout                    1
1610179        â€œLâ€ Intersection                    0
1645798        â€œLâ€ Intersection                    1

UNSIGNALIZED_INT
                INTERSECT_TYPEx  UNSIGNALIZED_INT
0                     Mid-block                 0
2        Multi-leg intersection                 1
3              â€œTâ€ intersection                 1
5         Four-way intersection                 1
8              â€œYâ€ intersection                 1
10             â€œTâ€ intersection                 0
13        Four-way intersection                 0
20                        Other                 1
40             â€œYâ€ intersection                 0
50                   Ramp Begin                 1
214                   Crossover                 1
519                    Ramp End                 1
798                       Other                 0
1122     Multi-leg intersection                 0
2832                   Ramp End                 0
4605          Railroad crossing                 1
4670                 Ramp Begin                 0
5681             Traffic Circle                 1
17639                 Crossover                 0
30277            Traffic Circle                 0
64684                Roundabout                 1
86006                   Unknown                 1
168756               Roundabout                 0
1227593       Railroad crossing                 0
1610179        â€œLâ€ Intersection                 1
1693834        â€œLâ€ Intersection                 0

DRIVER_COUNT_age and related flags

In [88]:
crash_age = ['DRIVER_COUNT_16YR',
 'DRIVER_COUNT_17YR',
 'DRIVER_COUNT_18YR',
 'DRIVER_COUNT_19YR',
 'DRIVER_COUNT_20YR',
 'DRIVER_COUNT_50_64YR',
 'DRIVER_COUNT_65_74YR',
 'DRIVER_COUNT_75PLUS']

In [89]:
flags_age = ['DRIVER_16YR',
 'DRIVER_17YR',
 'DRIVER_18YR',
 'DRIVER_19YR',
 'DRIVER_20YR',
 'DRIVER_50_64YR',
 'DRIVER_65_74YR',
 'DRIVER_75PLUS']

In [90]:
for i in range(0, len(crash_age)):
    print(crash_age[i] + '/' + flags_age[i])
    print(df.loc[:,[crash_age[i], flags_age[i]]].drop_duplicates())
    print('Inconsistent: ' + str(df.loc[(df[crash_age[i]]==0) & (df[flags_age[i]]==1)].shape[0]))
    print('Total non-null: ' + str(df.loc[(df[crash_age[i]].notna()) & (df[flags_age[i]].notna())].shape[0]))
    print()

DRIVER_COUNT_16YR/DRIVER_16YR
         DRIVER_COUNT_16YR  DRIVER_16YR
0                        0            0
2                        1            1
1928                     2            1
3945                     3            1
71987                    4            1
1643713                  0            1
Inconsistent: 2
Total non-null: 2461193

DRIVER_COUNT_17YR/DRIVER_17YR
         DRIVER_COUNT_17YR  DRIVER_17YR
0                        0            0
5                        1            1
165                      2            1
28390                    3            1
218825                   4            1
472158                   6            1
1224249                  5            1
1703090                  0            1
Inconsistent: 4
Total non-null: 2461193

DRIVER_COUNT_18YR/DRIVER_18YR
         DRIVER_COUNT_18YR  DRIVER_18YR
0                        1            1
1                        0            0
246                      2            1
4539                     3            1
73750                    4            1
289168                   5            1
1635938                  0            1
Inconsistent: 10
Total non-null: 2461193

DRIVER_COUNT_19YR/DRIVER_19YR
         DRIVER_COUNT_19YR  DRIVER_19YR
0                        0            0
1                        1            1
382                      2            1
95174                    3            1
977759                   0            1
1690548                  4            1
Inconsistent: 8
Total non-null: 2461193

DRIVER_COUNT_20YR/DRIVER_20YR
         DRIVER_COUNT_20YR  DRIVER_20YR
0                        0            0
5                        1            1
143                      2            1
103542                   3            1
1648989                  0            1
Inconsistent: 7
Total non-null: 2461193

DRIVER_COUNT_50_64YR/DRIVER_50_64YR
         DRIVER_COUNT_50_64YR  DRIVER_50_64YR
0                           0               0
6                           1               1
59                          2               1
160                         3               1
22037                       4               1
22593                       5               1
159065                      6               1
169313                     11               1
301358                      7               1
484387                      0               1
918099                     14               1
1165905                     9               1
1181987                     8               1
1443820                    25               1
1543414                    19               1
1784131                    10               1
1914964                    26               1
Inconsistent: 98
Total non-null: 2461193

DRIVER_COUNT_65_74YR/DRIVER_65_74YR
         DRIVER_COUNT_65_74YR  DRIVER_65_74YR
0                           0               0
3                           1               1
83                          2               1
57347                       3               1
875575                      4               1
1443820                     7               1
1458788                     5               1
1643406                     0               1
Inconsistent: 34
Total non-null: 2461193

DRIVER_COUNT_75PLUS/DRIVER_75PLUS
         DRIVER_COUNT_75PLUS  DRIVER_75PLUS
0                          0              0
26                         1              1
1073                       2              1
9728                       3              1
1655383                    0              1
2179403                    4              1
Inconsistent: 9
Total non-null: 2461193

URBAN_RURAL and related flags

In [91]:
enum_dict['URBAN_RURAL']

{1: 'Rural', 2: 'Urbanized', 3: 'Urban'}

In [92]:
df['URBAN_RURAL'].value_counts()

URBAN_RURAL
2    1643082
1     818111
Name: count, dtype: int64

In [93]:
df['URBAN_RURALx'] = [enum_dict['URBAN_RURAL'][i] for i in df['URBAN_RURAL']]

In [94]:
df.loc[df['URBAN']==1, ['URBAN_RURALx','URBAN', 'RURAL']]['URBAN_RURALx'].unique()

<StringArray>
['Urbanized', 'Rural']
Length: 2, dtype: str

In [95]:
df.loc[:,['URBAN_RURALx','URBAN_RURAL', 'URBAN', 'RURAL']].drop_duplicates()

      URBAN_RURALx  URBAN_RURAL  URBAN  RURAL
0            Rural            1      0      1
2        Urbanized            2      1      0
87680    Urbanized            2      0      1
90131        Rural            1      1      0

In [96]:
df['URBAN_RURALx'].value_counts()

URBAN_RURALx
Urbanized    1643082
Rural         818111
Name: count, dtype: int64

In [97]:
df.loc[df['RURAL']==1]['URBAN_RURALx'].value_counts()

URBAN_RURALx
Rural        818102
Urbanized      6220
Name: count, dtype: int64

In [98]:
df.loc[df['URBAN']==1]['URBAN_RURALx'].value_counts()

URBAN_RURALx
Urbanized    1636862
Rural              9
Name: count, dtype: int64

ILLUMINATION and related flags

In [99]:
enum_dict['ILLUMINATION']

{1: 'Daylight',
 2: 'Dark - no streetlights',
 3: 'Dark streetlights',
 4: 'Dusk',
 5: 'Dawn',
 6: 'Dark unknown roadway lighting',
 8: 'Other',
 9: 'Unknown'}

In [100]:
df['ILLUMINATION'].value_counts()

ILLUMINATION
1.0    7379
3.0    2414
2.0    1940
5.0     232
4.0     229
6.0      72
8.0      19
Name: count, dtype: int64

In [101]:
df['ILLUMINATIONx'] = [enum_dict['ILLUMINATION'][i] if str(i)!='nan' else np.nan for i in df['ILLUMINATION']]

In [102]:
df.loc[df['ILLUMINATION_DARK']==1, ['ILLUMINATIONx','ILLUMINATION']]['ILLUMINATIONx'].unique()

<StringArray>
[                            nan,             'Dark streetlights',
        'Dark - no streetlights', 'Dark unknown roadway lighting']
Length: 4, dtype: str

In [103]:
df.loc[:,['ILLUMINATIONx','ILLUMINATION','ILLUMINATION_DARK']].drop_duplicates()

                        ILLUMINATIONx  ILLUMINATION  ILLUMINATION_DARK
0                                 NaN           NaN                  1
1                                 NaN           NaN                  0
930437                       Daylight           1.0                  0
930438                           Dusk           4.0                  0
930445              Dark streetlights           3.0                  1
930471         Dark - no streetlights           2.0                  1
930483                          Other           8.0                  0
930564                           Dawn           5.0                  0
930589  Dark unknown roadway lighting           6.0                  1

In [104]:
df.loc[:,['ILLUMINATIONx','ILLUMINATION','ILLUMINATION_DARK']].drop_duplicates().to_csv('data/aux/illumination.csv', index=False)

In [105]:
df.loc[df['ILLUMINATION'].isna() & (df['ILLUMINATION_DARK']==1)].shape[0]

817191

In [106]:
df.loc[df['ILLUMINATION'].isna() & (df['ILLUMINATION_DARK']==0)].shape[0]

1631717

In [107]:
df.loc[df['ILLUMINATION'].isna() & df['ILLUMINATION_DARK'].isna()].shape[0]

0

In [108]:
df['ILLUMINATION_DARK'].value_counts()

ILLUMINATION_DARK
0    1639576
1     821617
Name: count, dtype: int64

In [109]:
df.loc[df['ILLUMINATION_DARK'].isna()].shape[0]

0

In [110]:
df['ILLUMINATION'].value_counts()

ILLUMINATION
1.0    7379
3.0    2414
2.0    1940
5.0     232
4.0     229
6.0      72
8.0      19
Name: count, dtype: int64

In [111]:
crash.shape[0]

2461193

In [112]:
df['WEATHER1x'] = [enum_dict['WEATHER1'][i] if str(i)!='nan' else np.nan for i in df['WEATHER1']]

In [113]:
df['WEATHER2x'] = [enum_dict['WEATHER2'][i] if str(i)!='nan' else np.nan for i in df['WEATHER2']]

In [114]:
df.loc[(df['ILLUMINATION_DARK']==1) & df['ILLUMINATION'].isna(), ['WEATHER1x', 'WEATHER2x','ILLUMINATION','ILLUMINATION_DARK']].drop_duplicates()

                 WEATHER1x          WEATHER2x  ILLUMINATION  ILLUMINATION_DARK
0                      NaN                NaN           NaN                  1
100                    NaN   Fog, Smog, Smoke           NaN                  1
1808248                NaN              Clear           NaN                  1
1873855                NaN  Severe Crosswinds           NaN                  1
1875509                NaN               Rain           NaN                  1
...                    ...                ...           ...                ...
2378997              Other               Rain           NaN                  1
2380574               Rain       Blowing Snow           NaN                  1
2422853             Cloudy      Sleet or Hail           NaN                  1
2445454  Severe Crosswinds              Clear           NaN                  1
2449501      Sleet or Hail             Cloudy           NaN                  1

[114 rows x 4 columns]

In [115]:
df.loc[(df['ILLUMINATION_DARK']==1) & df['ILLUMINATION'].isna(), ['ILLUMINATIONx','ILLUMINATION','ILLUMINATION_DARK']].shape[0]

817191

In [116]:
df['WEATHER1x'].unique().tolist()

[nan,
 'Clear',
 'Rain',
 'Freezing Rain or Freezing Drizzle',
 'Snow',
 'Cloudy',
 'Other',
 'Fog, Smog, Smoke',
 'Unknown',
 'Blowing Snow',
 'Sleet or Hail',
 'Severe Crosswinds',
 'Blowing Sand, Soil, Dirt']

In [117]:
df.loc[(df['ILLUMINATION_DARK']==1)]['WEATHER1x'].unique().tolist()

[nan,
 'Clear',
 'Rain',
 'Freezing Rain or Freezing Drizzle',
 'Snow',
 'Other',
 'Cloudy',
 'Fog, Smog, Smoke',
 'Unknown',
 'Blowing Snow',
 'Sleet or Hail',
 'Blowing Sand, Soil, Dirt',
 'Severe Crosswinds']

In [118]:
df.loc[(df['ILLUMINATION_DARK']==1)]['WEATHER2x'].unique().tolist()

[nan,
 'Fog, Smog, Smoke',
 'Clear',
 'Severe Crosswinds',
 'Rain',
 'Other',
 'Cloudy',
 'Snow',
 'Freezing Rain or Freezing Drizzle',
 'Blowing Snow',
 'Sleet or Hail',
 'Blowing Sand, Soil, Dirt']

### <a id='write'>Write Final Compiled Dataset to File</a>

In [119]:
df.to_csv('data/aux/selected_crash_and_flags.csv', index=False)